

* {/* asteristico do css significa tudo, aqui vamos resetar todos os elementos */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lobster Two", sans-serif;
 	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	outline: none;
}


body{
	background: url("./img/background.png");
}


.container{
	background-color: #d1d1d1;
	width: 500px;
	border-radius: 10px;
	padding: 20px;
	margin: 100px auto 0;
}


.input-task{
	border: none;
	border-radius: 10px;
	width: 300px;
	height: 40px;
	padding-left: 10px;
}

.button-add-task {
	border: none;
	border-radius: 5px;
	height: 40px;
	background-color: #003329;
	color: #ffffff ;
	padding: 0 15px;/*Primero é em cimae embaixo e depois alterais*/
	font-size: 17px;
	font-weight: 700;
	float: right;
	cursor: pointer;
}

.button-add-task:hover {
	opacity: 0.8;
}

.button-add-task:active {/*active é qunado o botão é clicado*/
	opacity: 0.6;
}

.list-task {
	width: 100%;
	list-style: none;
	margin-top: 25px;

}

.task {
	background-color: #f2f2f2;
	box-shadow: 1px 4px 10px rgb(0, 0, 0, 0.2);/*aprofundar no border-shadow*/
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	border-radius: 5px;
	margin-bottom: 15px;
	cursor: pointer;
}

.task:hover img{ /*colocando o img, indica que no hover vai funcionar somente com o img*/
	opacity: 1;
}

.done {
	background-color: #8fac55;
	text-decoration: line-through; /*estilod e linha cortada no meio do texto*/
}

img {
	width: 25px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out; /*os parâmetros do trnasition são:  
	primeiro o adtributoq ue vai sofrer a transformação, o tempo de transição
	e se é na entrada (eade-in), saida(ease-out) ou nos dois(ease-in-out)*/
}

